<nav class="navbar has-background-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item">
            <div class="columns">
                <div class="column is-narrow">
                    <div class="columns mb-2">
                        <div class="column is-narrow pb-0">
                            <h1 class="is-sakana-logo is-uppercase">SAKANA</h1>
                        </div>
                    </div>
                    <div class="columns">
                        <div class="column has-text-right pt-0">
                            <h1 class="is-restaurant-logo is-uppercase">RESTAURANT</h1>
                        </div>
                    </div>
                </div>
            </div>
        </a>
        <a role="button" (click)="openMenu()" [className]="isMenuActive ? 'navbar-burger is-active' : 'navbar-burger'" data-target="navMenu" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
          
    </div>
    <div [className]="isMenuActive ? 'navbar-menu is-active has-background-black' : 'navbar-menu has-background-black'">
        <!-- navbar start, navbar end -->
        <button class="button is-black is-subfont">menu</button>
        <button class="button is-black is-subfont">contactanos</button>
    </div>
</nav>