@charset "utf-8";
/* You can add global styles to this file, and also import other style files */
@import './assets/fonts/stylesheet.css';

// Set your brand colors
$black: #010101;
$white: #FDFDFD;

/* $purple: #8A4D76;
$pink: #FA7C91;
$brown: #757763;
$beige-light: #D0D1CD;
$beige-lighter: #EFF0EB; */

// Update Bulma's global variables
$primary: #DF0333;
/* $family-sans-serif: "Nunito", sans-serif;
$grey-dark: $brown;
$grey-light: $beige-light;
$link: $pink;
$widescreen-enabled: false;
$fullhd-enabled: false; */

// Update some of Bulma's component variables
/* $body-background-color: $beige-lighter;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none; */

@import "../node_modules/bulma/bulma.sass";

html, body { height: 100%; background: $black; }
body { margin: 0; /* font-family: Roboto, "Helvetica Neue", sans-serif; */ }

.is-sakana-logo {
    font-family: 'Buy More';
    font-size: 2rem;
    color: $white;
}

.is-restaurant-logo {
    font-family: 'Buy More';
    font-size: 1rem;
    color: $white;
}

.is-subfont {
    font-family: 'WRESTLEMANIA';
    color: $white;
    font-size: 2rem;
}

.navbar-burger {
    color: $white;
    height: 5.25rem;
}

.navbar-burger:hover {
    background-color: #DF0333;
    color: $black;
}

.button.is-black:hover, .button.is-black.is-hovered {
    background-color: $primary;
    border-color: transparent;
    color: $black;
    text-transform: uppercase;
}