<section class="hero is-home-hero is-medium">
    <div class="hero-body">
        <div class="container">
            <!-- <h1 class="title is-subfont">title</h1>
            <h2 class="subtitle is-subfont">subtitle</h2> -->
        </div>
    </div>
</section>
<section class="section has-background-primary">
    <div class="container has-text-centered">
        <h1 class="is-subfont has-text-black is-size-1 is-size-3-mobile mb-6">Lo mejor en sushi, hamburguesas, ensaladas y postres de la ciudad</h1>
        <div class="columns">
            <div class="column">
                <div class="card has-background-black">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="is-subfont has-text-white">SUSHI</p>
                            </div>
                        </div>
                        <div class="content">
                            <br>
                            <div class="columns has-text-centered">
                                <div class="column">
                                    <button class="button is-primary">ver mas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-black">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="is-subfont has-text-white">HAMBURGUESAS</p>
                            </div>
                        </div>
                        <div class="content">
                            <br>
                            <div class="columns has-text-centered">
                                <div class="column">
                                    <button class="button is-primary">ver mas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card has-background-black">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="is-subfont has-text-white">NUEVOS PRODUCTOS</p>
                            </div>
                        </div>
                        <div class="content">
                            <br>
                            <div class="columns has-text-centered">
                                <div class="column">
                                    <button class="button is-primary">ver mas</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="button is-black is-subfont mt-6">Ver todo el menu</button>
    </div>
</section>